footer {

  background: url(../assets/images/book-trace-background.svg) center/cover;
  width: 100%;

  flex-direction: column;
  align-items: center;
  
  gap: 2.5rem;
  margin-top: 20rem;
  padding: 6.125rem 2rem 4rem;

  & > div:nth-child(1) {

    text-align: center;

    & > img {
      width: 10rem;
      height: 2.5rem;
    }

    & .line {
      margin-block: .75rem;
      border: 1px solid var(--color-shape-stroke);
      width: 100%;
    }

    & .social-links {

      a {
        position: relative;

        width: 2.5rem;
        height: 2.5rem;

        align-items: center;
        justify-content: center;

        &:hover {
          & svg path {
            fill: var(--color-text-body);
          }
        }        
      }
    }
  }

  & > div:nth-child(2) {
    gap: 3.5rem;

    & .content, & .help {
      flex-direction: column;  
      gap: .75rem;
      
      & a {
        text-decoration: none;
        color: var(--color-blue-light);

        transition: 600ms;

        &:hover {
          color: var(--color-text-body);
        }
      }
  
      & h4 {
        margin-bottom: .5rem;
      }
    }
  }
}

@media (width >= 80rem) {
  footer {
    flex-direction: row;
    justify-content: space-between; 
    padding: 19rem 10rem 6.375rem;

    & > div:nth-child(1) {
      & > img {
        width: 16.5rem;
        height: 4.16rem;
      }

      & .social-links {
        justify-content: center;

        & a {
          transition: transform 300ms;

          &:hover {
            transform: scale(1.2);
          }
        }        
      }
    }

    & > div:nth-child(2) {
      & a {
        transition: transform 300ms;

        &:hover {
          transform: scale(1.1);
        }
      }    
    }
  }
}