#home-page {

  opacity: 0;

  animation: fadeIn-2 5s forwards;

  background: url(../assets/images/Image.png) center/cover no-repeat;
  width: 100%;
  height: 50vh;
  margin-bottom: 13.5rem;

  & nav {
    justify-content: space-between;
    align-items: center;

    padding: 1.25rem 1.25rem 0;

    & a {
      padding: 0.875rem 1.25rem;
      border-radius: .5rem;

      color: var(--color-text-title);
      background-color: var(--color-pink-dark);

      font: var(--button);
      text-decoration: none;
    }
  }

  & .title {
    margin-block: 3rem 14.0625rem;
    margin-inline: auto;

    width: 20.9375rem;
    text-align: center;

    h1 {
      margin-bottom: 1rem;
    }

    & p {
      font: var(--link);
    }
  }  
}

@media (width >= 80rem) {
  #home-page {

    height: 100vh;

    & nav {
      padding-inline: 10rem;
    }
  
    & .title {
      margin-block: 10rem 30rem;
  
      width: 41rem;
  
      h1 {
        margin-bottom: 2rem;
      }

      & p {
        font: var(--body-lg);
      }
    }

    & .text {
      width: 71rem;
    }
  }  
}

@keyframes fadeIn-2 {
  to {
    opacity: 1;
  }
}