#product {

  & .title {
    align-items: center;
    justify-content: center;

    gap: 1rem;

    & svg {
      width: 1.25rem;
      height: 1.25rem;

      & path {
        fill: var(--color-pink-base);
      }      
    }
  }

  & > p {
    font: var(--body-sm);
    text-align: center;
    margin-block: .3125rem 10rem;
  }

  & .hero {
    margin-inline: auto;

    width: 9.83rem;
    height: 13rem;

    position: relative;

    & > img[src*="pin"] {
      position: absolute;

      width: 4.69rem;
      height: 5.34rem;

      bottom: -2rem;
      left: -3rem;
      transform: rotate(-10deg);
      z-index: -2;
    }

    & > img[src*="bookmark-yellow"] {
      position: absolute;

      width: 4rem;
      height: 13rem;

      bottom: 2rem;
      right: -2.6rem;
      transform: rotate(12deg);
      z-index: -1;
    }

    & > img[src*="bookmark-purple"] {
      position: absolute;

      width: 4rem;
      height: 13rem;

      bottom: -.5rem;
      right: -5rem;
      transform: rotate(22deg);
      z-index: -2;
    }

    & .arrow-1 {
      position: absolute;

      bottom: -4rem;
      right: -6rem;

      & > img {
        width: 3rem;
        height: 3.19rem;
      }

      & > p {
        font: var(--tag-regular);
        margin-top: 1rem;
      }
    }

    & .arrow-2 {
      position: absolute;

      bottom: 2rem;
      left: -4rem;

      & > img {
        width: 2.21rem;
        height: 2.67rem;
      }

      & > p {
        font: var(--tag-regular);
        margin-bottom: 1rem;
      }
    }

    & .arrow-3 {
      position: absolute;

      bottom: 12.7rem;
      left: -3rem;

      & > img {
        width: 3.67rem;
        height: .63rem;
      }

      & > p {
        font: var(--tag-regular);
        margin-bottom: 1rem;
      }
    }
  }
}

@media (width >= 80rem) {
  #product {

    & .title {
      & svg {
        width: 2rem;
        height: 2rem;  
      }
    }

    & > p {
      font: var(--body-md);
    }
    & .hero {
      margin-inline: auto;
  
      width: 29.1875rem;
      height: 38.5625rem;
  
      position: relative;
  
      & > img[src*="pin"] {
        position: absolute;

        width: 222px;
        height: 254px;

        bottom: 0;
        left: 10rem;
        transform: rotate(0);
        z-index: -2;

        animation: sideIn-1 ease forwards;
        animation-timeline: view();
        animation-range: 100px 600px;        
      }
  
      & > img[src*="bookmark-yellow"] {
        position: absolute;

        width: 212px;
        height: 576px;

        animation: sideIn-2 ease forwards;
        animation-timeline: view();
        animation-range: 200px 1000px;
  
        bottom: 1rem;
        right: 0rem;
        transform: rotate(0);
        z-index: -2;
      }
  
      & > img[src*="bookmark-purple"] {
        position: absolute;

        width: 212px;
        height: 576px;

        animation: sideIn-3 ease forwards;
        animation-timeline: view();
        animation-range: 200px 1000px;
  
        bottom: 1rem;
        right: 0rem;
        transform: rotate(0);
        z-index: -2;
      }
  
      & .arrow-1 {
        position: absolute;
  
        bottom: -9rem;
        right: -12rem;

        & > img {
          width: 155px;
          height: 154px;
        }
  
        & > p {
          margin-top: 1rem;
        }

        opacity: 0;

        animation: fadeIn ease forwards;
        animation-timeline: view();
        animation-range: 200px 300px;


      }
  
      & .arrow-2 {
        position: absolute;
  
        bottom: 7rem;
        left: -11.5rem;

        & > img {
          width: 108px;
          height: 129px;
        }
  
        & > p {
          margin-bottom: 1rem;
        }

        opacity: 0;

        animation: fadeIn ease forwards;
        animation-timeline: view();
        animation-range: 200px 900px;
      }
  
      & .arrow-3 {
        position: absolute;
  
        bottom: 37.7rem;
        left: -9rem;

        & > img {
          width: 180px;
          height: 33px;
        }
  
        & > p {
          margin-bottom: 1rem;
        }

        opacity: 0;

        animation: fadeIn ease forwards;
        animation-timeline: view();
        animation-range: 200px 1000px;
      }
    }
  }
}

@keyframes sideIn-1 {
  to {
    bottom: -5rem;
    left: -8.7rem;
    transform: rotate(-10deg);
    z-index: -2;
  }
}

@keyframes sideIn-2 {
  to {
    bottom: 8rem;
    right: -9rem;
    transform: rotate(12deg);
    z-index: -1;
  }
}

@keyframes sideIn-3 {
  to {
    bottom: 1.5rem;
    right: -17rem;
    transform: rotate(22deg);
    z-index: -2;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}