.flex {
  display: flex;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: 1;
}

@media (width >= 80rem) {
  .desktop-only {
    display: unset;
  }
  
  .mobile-only {
    display: none;
  }  
}